@model DAL.NewsMaster

@{
    ViewBag.Title = "Home Page Members";
}
@section featured_Admin {

    <div class="container">
        <div class="row col-lg-offset-2">



            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="page-header">
                        <h1>
                            Members
                            <small>
                                <i class="ace-icon fa fa-angle-double-right"></i>
                                News
                            </small>
                        </h1>
                    </div><!-- /.page-header -->
                    <div class="page-header">
                        <div class="row">
                            <div class="col-xs-2 col-lg-offset-10">
                                <a class="btn btn-xs btn-success" href="/Admin/News">
                                    <i class="ace-icon fa fa-pencil bigger-120"> Back to News</i>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Title </label>
                                    
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.Title, new { @class = "col-xs-10 col-sm-5" });
                                        @*<input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> ImagePath </label>

                                    <div class="col-sm-9">
                                        @*<input type="text" id="form-field-1-1" placeholder="Text Field" class="form-control" />*@
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <input type="file" id="id-input-file-2" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="space-4"></div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Description</label>

                                    <div class="col-sm-9">
                                        @*<input type="password" id="form-field-2" placeholder="Password" class="col-xs-10 col-sm-5" />*@
                                        @Html.TextAreaFor(x => x.Description, new { @class = "col-xs-10 col-sm-5" });
                                        @*<span class="help-inline col-xs-12 col-sm-7">
                                            <span class="middle">Inline help text</span>
                                        </span>*@
                                    </div>
                                </div>

                                <div class="space-4"></div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" > Is Active</label>

                                    <div class="col-sm-9">
                                        @*<input readonly="" type="text" class="col-xs-10 col-sm-5" id="form-input-readonly" value="This text field is readonly!" />*@
                                        <span class="help-inline col-xs-12 col-sm-7">
                                            <label class="middle">
                                                @Html.CheckBoxFor(x => x.IsActive)
                                                @*<input class="ace" type="checkbox" id="id-disable-check" />*@
                                                @*<span class="lbl"> Disable it!</span>*@
                                            </label>
                                        </span>
                                    </div>
                                </div>

                                <div class="space-4"></div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-4">Location_Name</label>

                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.Location_Name, new { @class = "col-xs-10 col-sm-5" });
                                      
                                    </div>
                                </div>

                               

                                <div class="clearfix form-actions">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button class="btn btn-info" type="button">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            Submit
                                        </button>

                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn" type="reset">
                                            <i class="ace-icon fa fa-undo bigger-110"></i>
                                            Reset
                                        </button>
                                    </div>
                                </div>

                                <div class="hr hr-24"></div>

                               

                            </form>


                        </div><!-- /.span -->
                    </div><!-- /.row -->
                </div>
            </div>



        </div>
    </div>
}

